{% load staticfiles %}

	<style>
		{% if zscreen.custom_breakpoint > 0 %}
		@media (max-width: {{ zscreen.custom_breakpoint }}px) {
		  .visible-xss {
		    display: block !important;
		  }
		  #lg_bp, #md_bp, #sm_bp, #xs_bp {
		    display: none !important;
		  }
		}
		{% endif %}
		#zongo_zscreen > div > div {
			padding-left:0;
			padding-right:0;
		}
		#zongo_zscreen img {
			z-index:1;
		}
		{% if zscreen.css_lg %}{{ zscreen.css_lg|safe  }}{% endif %}
		{% if zscreen.css_md %}{{ zscreen.css_md|safe  }}{% endif %}
		{% if zscreen.css_sm %}{{ zscreen.css_sm|safe  }}{% endif %}
		{% if zscreen.css_xs %}{{ zscreen.css_xs|safe  }}{% endif %}
		{% if zscreen.css_custom %}{{ zscreen.css_custom|safe  }}{% endif %}
	</style>
<div id="zongo_zscreen">
	<div id="lg_bp" class="row visible-lg{% if not zscreen.image_md %} visible-md{% endif %}">
		<div class="col-xs-12" style="max-height:{{ zscreen.image_lg.height }}px">
			<img src="{{ zscreen.image_lg.url }}" class="img-responsive" width="{{ zscreen.image_lg.width }}" alt="" />
			<div id="zscreen_text_lg" >{{ zscreen.html_lg|safe }}</div>
		</div>
	</div>
	{% if zscreen.image_md %}
		<div id="md_bp" class="row visible-md{% if not zscreen.image_sm %} visible-sm{% endif %}">
			<div class="col-md-12" style="max-height:{{ zscreen.image_md.height }}px">
				<img src="{{ zscreen.image_md.url }}" class="img-responsive" width="{{ zscreen.image_md.width }}" alt="" />
				<div id="zscreen_text_md">{{ zscreen.html_md|safe }}</div>
			</div>
		</div>
	{% endif %}
	{% if zscreen.image_sm %}
		<div id="sm_bp" class="row visible-sm{% if not zscreen.image_xs %} visible-xs{% endif %}">
			<div class="col-sm-12" style="max-height:{{ zscreen.image_sm.height }}px">
				<img src="{{ zscreen.image_sm.url }}" class="img-responsive" width="{{ zscreen.image_sm.width }}" alt="" />
				<div id="zscreen_text_sm">{{ zscreen.html_sm|safe }}</div>
			</div>
		</div>
	{% endif %}
	{% if zscreen.image_xs %}
		<div id="xs_bp" class="row visible-xs{% if not zscreen.image_xxs %} visible-xxs{% endif %}">
			<div class="col-xs-12 style="max-height:{{ zscreen.image_xs.height }}px"">
				<img src="{{ zscreen.image_xs.url }}" class="img-responsive" width="{{ zscreen.image_xs.width }}" alt="" />
				<div id="zscreen_text_xs">{{ zscreen.html_xs|safe }}</div>
			</div>
		</div>
	{% endif %}
	{% if zscreen.image_xxs%}
		<div id="xxs_bp" class="row hidden visible-xss">
			<div class="col-xs-12" style="max-height:{{ zscreen.image_xxs.height }}px">
				<img src="{{ zscreen.image_xxs.url }}" class="img-responsive" width="{{ zscreen.image_xxs.width }}" alt="" />
				<div id="zscreen_text_custom">{{ zscreen.html_custom|safe }}</div>
			</div>
		</div>
	{% endif %}
</div>